<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Create a new joke</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h4>Create new joke</h4>
    <form action="#" th:action="@{/new}" th:object="${jokeForm}" method="post">
        <div class="form-group has-feedback">
          <p>
            Category:
            <select th:field="*{category}" class="form-control">
              <option th:each="c : ${categoryList}" 
                      th:value="${c.id}"
                      th:text="${c.name}" />
            </select>
          </p>
        </div>
        <p>Content: <br>
          <textarea th:field="*{content}" ></textarea>
        </p>
        <p>
          <input type="submit" value="Submit" /> <input type="reset" value="Reset" />
        </p>
        <p style="color: red;" th:if="${#fields.hasErrors('content')}" th:errors="*{content}" ></p>
    </form>
</body>
</html>
